html, body {
    width: 100%; 
    height: 100%; 
    font-family: Helvetica, sans-serif;
}
p {
    border: 1px ; 
    border-radius: 10px; 
    padding: 3px;
}
p:hover {
    background-color: rgba(200, 200, 200, 0.3);
    cursor: pointer; 
}

.logout_btn {
    position: absolute; 
    bottom: 20px; 
    width: calc(275px - 45px); 
}
.side_navbar {
    grid-template-rows: 75% 25%; 
    position: fixed; 
    margin-top: 70px; /* To account for fixed topbar */
    width: 275px;
    height: calc(100vh - 70px); /* Full height minus topbar */
    padding-left: 45px; 
    padding-bottom: 25px; 
}
.topbar {
    width: 100%; 
    height: 70px;
    position: fixed;
    top: 0; 
    left: 0;

    display: flex; /* Use flexbox for content layout */
    align-items: center; 
    padding-left: 80px;
}
.logo {
    margin-top: 25px;
    height: 25px; 
}
.dashboard {
    display: grid; 
    grid-template-columns: 275px 1fr; /* Side navbar and main content */
    height: calc(100vh - 70px);
    margin-top: 70px; /*To account for the fixed topbar*/
}
.main_content {
    grid-template-rows: 75px 1fr; /* title and scrollable content area */
    margin-left: 50px; 
    padding-top: 20px;
    height: calc(100vh - 70px);
    width: calc(100% - 275px);
    text-align: left; 
}