html, body {
    width: 100%; 
    height: 100%; 
    font-family: Helvetica, sans-serif;
}
hr {
    height: 2px; 
    border: none;
    border-top: 1px solid black; 
    width: 100%;
}
p {
    margin-left: 15px;
    margin-bottom: 20px; 
    border: 1px;
    border-radius: 10px; 
    padding: 4px; 
}
p:hover {
    background-color: rgba(200, 200, 200, 0.3);
    cursor: pointer; 
}
i {
    margin-right: 10px; 
}

.d-flex justify-content-left gap-5 {
    flex-direction: row; 
    background: rgba(244, 239, 231, 0.1);
    backdrop-filter: blur(10px);
    position: fixed; 
    width: 100%;
}
.logo {
    margin-left: 100px;
    padding-top: 25px; 
}
.logo:hover {
    transform: translateY(-5px);
    transition: margin 10.0s ease-in-out;
}
.col-sm {
    margin-top: 50px; 
    margin-left: 35px; 
    width: 28%; 
    max-width: 300px;;
    height: 500px; 
}
.bottom_bar {
    margin-left: 35px; 
    width: 28%;
}
.main_content {
    margin-left: 40%; 
    
}