html, body {
    width: 100%; 
    height: 100%; 
    font-family: Helvetica, sans-serif;
}
.d-flex justify-content-left gap-5 {
    flex-direction: row; 
    background: rgba(244, 239, 231, 0.2);
    backdrop-filter: blur(10px);
    position: fixed; 
    width: 100%;
}
.logo {
    margin-left: 100px;
    padding-top: 25px; 
}
.logo:hover {
    transform: translateY(-5px);
    transition: margin 10.0s ease-in-out;
}