html, body {
    width: 100%; 
    height: 100%; 
    font-family: Helvetica, sans-serif;
}
.topbar {
    padding: 25px;
    text-align: center;
}
.page_header {
    margin-right: 58px;
    font-weight: bold;
}
.logo {
    float: left;
    margin-left: 30px;
    height: 25px;
    width: 28px;
}
.logo:hover {
    transform: translateY(-5px);
    transition: margin 10.0s ease-in-out;
}
.form_inputs {
    text-align: center; 
    padding-top: 30px;
}
.rounded-pill {
    border: 1px;
    padding: 4px;
}
input[type="text"], input[type="date"] {
    padding: 4px;
    border: 1px solid black;
    border-radius: 8px;
    width: 400px;
    margin-bottom: 40px;
}
select.form_control {
    border: 1px solid black;
    margin-bottom: 200px;
}
.location_select {
    display: inline-block;
    border: 1px solid black;
    border-radius: 8px;
    width: 400px;
    margin-bottom: 40px;
}