body {
    font-family: Helvetica, sans-serif;
}
div {
    padding: 25px; 
}
p {
    color: gray; 
}
input {
    padding: 8px; 
    margin: 13px; 
    border-radius: 8px;
    border-width: 1px; 
    color: black;
}
input::placeholder {
    color: rgb(188, 180, 180);
}
.logo {
    margin-left: 75px; 
}
.logo:hover {
    transform: translateY(-5px);
    transition: margin 10.0s ease-in-out;
}

.popup-overlay {
    display: none; 
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.popup-content {
    text-align: center; 
    background-color: white;
    padding: 20px;
}